# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/key.properties
android/*.jks
android/*.keystore

# Firebase
google-services.json
firebase-admin-sdk*.json
lib/firebase_options.dart

# iOS
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
*.xcuserstate
*.xcscmblueprint

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Logs
*.log
